/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container, 
.content {
  display: flex;
  flex-direction: column;
}
.content {
  padding: 1rem 3rem;
}
@media all and (min-width: 768px) {
  .content {
      flex-direction: row;
      flex-wrap: wrap;
  }
  main {
      flex: 2;
      order: 2;
      min-height: 80vh;
  }
  .left-sidebar {
      order: 1;
      flex: 1;
  }
  .right-sidebar {
      flex: 1;
      order: 3;
  }
}
/* COLORS and FONTS */
body {
  color: #737373;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 3;
}
header .banner {
  background: #38B6FF;
}
header .title {
  line-height: 2;
  padding: 2rem;
}
header .title h1 {
  color: #4A454B;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}
header .title h3 {
  font-weight: 300;
}
header .title hr {
  background-color: #464A4E;
  height: 3px;
  margin: 1rem auto 0;
  text-align: center;
  width: 80%;
}
header .download,
header .language {
  color: #FFFFFF;
  position: absolute;
  right: 10px;
  top: 0;
}
header .download {
  left: 10px;
  right: auto;
}
header .download a,
header .language a {
  color: #FFFFFF;
  text-decoration: none;
}
header .download a,
header .download a .material-symbols-outlined {
  font-size: 30px;
}
header .language .current {
  pointer-events: none;
  text-decoration: underline;
  text-underline-offset: 5px;
}
main {
  line-height: 1.5;
  padding-left: 1rem;
  text-align: left;
}
main h2 {
  color: #4A454B;
  font-weight: 700;
  text-transform: uppercase;
}
main p {
  color: #737373;
  font-size: 18px;
}
main p.description {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
main ul {
  list-style-type: circle;
  margin: 0 0 0 1.5rem;
  padding: 0;
}
main ul li {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
main ul li::marker {
  color: #323B4C;
  font-size: 1.2em;
}
main ul li h5 {
  color: #737373;
  font-weight: 300;
}
main ul li h4 {
  color: #414042;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
main ul li p {
  margin-bottom: 4rem;
}

.left-sidebar {
  padding-right: 1rem;
  text-align: left;
}
.left-sidebar ul {
  color: #464A4E;
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.left-sidebar ul li {
  align-items: center;
  display: flex;
}
.left-sidebar ul li a {
  color: #464A4E;
}
.left-sidebar h4 {
  color: #4A454B;
  line-height: 2;
  margin-top: 4rem;
  text-transform: uppercase;
}
.left-sidebar h4,
.left-sidebar h5,
.left-sidebar h6,
.left-sidebar p {
  line-height: 2;
}
.left-sidebar h4,
.left-sidebar h5,
.left-sidebar h6 {
  font-weight: 700;
}
.left-sidebar p {
  font-size: 20px;
}

.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
