/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container, 
.content {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .content {
      flex-direction: row;
      flex-wrap: wrap;
  }
  main {
      flex: 2;
      order: 2;
      min-height: 80vh;
  }
  .left-sidebar {
      order: 1;
      flex: 1;
  }
  .right-sidebar {
      flex: 1;
      order: 3;
  }
}
/* COLORS and FONTS */
body {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 3;
}
header .banner {
  background: #38B6FF;
}
header .title {
  color: #000000;
  line-height: 2;
}
header .title h1 {
  text-transform: uppercase;
}
header .title h3 {
  color: #737373;
}
header .title hr {
  background-color: #464A4E;
  height: 3px;
  margin: 0 auto 10px;
  text-align: center;
  width: 80%;
}
main {
  background: darkslateblue;
}
footer {
  background: deeppink;
}
.left-sidebar {
  background: dodgerblue;
}
.right-sidebar {
  background: forestgreen;
}